.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.navbar span {
    margin: 1rem 2rem;
}

.nChat {
    margin: 1rem 2rem;
    height: 30px;
    width: 30px;
}

.nChatsp {
    background-color: #191919;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10rem;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.nChatsp button {
    border-style: none;
    
}

.nChatsp:hover {
    background-color: #323232;
}

.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 15px;
    
    
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(0, 4, 19);
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit:hover {
    color: #ffff;
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;

}